# v0 sandbox internal files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts
.snowflake/
.v0-trash/
.vercel/

# Environment variables
.env*.local

# Common ignores
node_modules
.next/
.DS_Store

# Nuxt
.nuxt/
.output/
.data/
dist/

vandal-clip-1.mp4
vandal-clip-2.mp4